
Build/.vs/
**/x64/
Bin/hosEditor_x64D.exe
Bin/hosEditor_x64D.pdb
Bin/hosEditor_x64R.exe
Bin/hosEditor_x64R.pdb
Extern/Inc/Ang3DEngine/
Extern/Inc/GzzNet/
Extern/Inc/hosEngine/
Extern/Inc/hosUtility/
Extern/Inc/fbxsdk/
Extern/Inc/libxml2/
Extern/Inc/fbxsdk.h
Extern/Lib/Ang3DEngine_x64D.lib
Extern/Lib/Ang3DEngine_x64D.pdb
Extern/Lib/Ang3DEngine_x64R.lib
Extern/Lib/Ang3DEngine_x64R.pdb
Extern/Lib/GzzNet_x64D.idb
Extern/Lib/GzzNet_x64D.lib
Extern/Lib/GzzNet_x64D.pdb
Extern/Lib/GzzNet_x64R.idb
Extern/Lib/GzzNet_x64R.lib
Extern/Lib/GzzNet_x64R.pdb
Extern/Lib/hosEngine_x64D.lib
Extern/Lib/hosEngine_x64D.pdb
Extern/Lib/hosEngine_x64R.lib
Extern/Lib/hosEngine_x64R.pdb
Extern/Lib/hosUtility_x64D.idb
Extern/Lib/hosUtility_x64D.lib
Extern/Lib/hosUtility_x64D.pdb
Extern/Lib/hosUtility_x64R.idb
Extern/Lib/hosUtility_x64R.lib
Extern/Lib/hosUtility_x64R.pdb
Extern/Lib/libfbxsdk_x64D.lib
Extern/Lib/libxml2_x64D.lib
Extern/Lib/zlib_x64D.lib
Extern/Lib/libfbxsdk_x64R.lib
Extern/Lib/libxml2_x64R.lib
Extern/Lib/zlib_x64R.lib